@mixin transition($prop, $time, $easing) {
  -webkit-transition: $prop $time $easing;
  -moz-transition: $prop $time $easing;
  -ms-transition: $prop $time $easing;
  -o-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

@mixin user-select($v) {
-webkit-user-select: $v;
-moz-user-select: $v;
-ms-user-select: $v;
-o-user-select: $v;
user-select: $v;
}
