.footer {
  background: $nav-bar-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 150px;
  h2 {
    color: white;
  }
  .logo {
    width: 60px;
  }
}
