.footer {
  text-align: center;
  clear: left;

  p {
    color: lightgray;
  }

  .nav-link {
    cursor: pointer;
    display: inline-block;
    margin: 20px;
  }

  .logo-link {
    height: 40px;
    margin: 10px 10px 0 10px;
  }

  .neno-logo {
    display: block;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .vivo-acknowledgement {
    cursor: pointer;
    margin: 0 10px 10px 10px;
  }

  .vivo-logo {
    height: 40px;
  }

}
