$hover-color: rgba(50, 44, 49, 0.75);

.image-row {
  @include transition(margin, 0.5s, ease);
  display: flex;
  height: 33.33vh;
  overflow: hidden;
  cursor: pointer;

  .gallery-image-container {
    width: 50%;
    height: 33.33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    color:black;

    .gallery-image {
      width: 100%;
      height: 33.33vh;
      object-fit: cover;
      @include user-select(none);
      pointer-events: none;
    }
  }

  .gallery-image-container:hover > .gallery-image {
    opacity: 0.25;
  }

  .gallery-image-container:hover > h1 {
    opacity: 0;
  }

  .gallery-image-container:hover > .text {
    opacity: 1;
  }

  h1 {
    color: white;
    position: absolute;
    z-index: 99;
    text-align: -webkit-center;
    justify-content: center;
    width:50%;
    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    @include transition(all, 0.2s, ease);
    transform: translateY(-10px);
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 1.5em;
  }
  .text {
  color: white;
  opacity:0;
  position: absolute;
  width:40%;
  text-align: center;
  justify-content: center;
}

}
