.image-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;

  .image {
    width: 50%;

    .left-image {
      max-width: 100%;
      height:35vw;
    }

    .right-image {
      max-width: 100%;
      height:35vw;
    }
  }
}
