.image-wrapper {
  height: 360px;
  overflow: hidden;
  display: flex;

  .image {
    width: 50%;

    .left-image {
      max-width: 100%;

    }

    .right-image {
      max-width: 100%;

    }
  }
}
