.image-row {
  @include transition(margin, 0.5s, ease);
  display: flex;
  height: 50vh;
  overflow: hidden;
  cursor: pointer;


  h1{
    position:absolute;
    z-index:99;
    text-align:center;
    justify-content: center;
    width:50%;
    

  }


  .image {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .gallery-image {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
    h1 {
      color: white;
      position: absolute;
      z-index: 99;
    }
  }
}
