.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $section-color; 

  .section-content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
