.slider {
  display: inline-flex;
  overflow-x: visible;
  img {
    width:100%;
    object-fit: cover;
    height: 80vh;
    transition: all 0.5s ease;
  }
  .first {
    transform: translate3d(-50vw, 0, 0);
  }
}

.slider-list li:nth-child(8) img {
  object-position: 0% 100%;
}

.slider-list li:nth-child(2) img {
  @media all and(max-width: $mobile-width) {
    object-position: 25% 0%;
  }
}
