.text-section {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    text-align: center;
    color: $nav-bar-color;
  }

  .text-section-content {
    width: 50%;
  }
}
