.day-tours {
  .tours-section {
    display: flex;
    flex-direction: column;
    height: 80vh;

    .tours-banner {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 40vh;
    }

    .tours-menu {
        z-index: 99;
        background: $nav-bar-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    .featured-tours {
      width: 75%;

      .tours-row {
        display: flex;
        justify-content: flex-start;

        .tour-block {
          width: 20%;

          .tour-image {
            width: 100%;
            height: 100px;
            object-fit: cover;
            object-position: 50% 100%;
          }
        }
      }


    }



    .section-title {
      z-index: 9;
      color: white;
      display: flex;
      @include user-select(none);
      justify-content: center;
      align-items: center;
      cursor:pointer;
    }
    .section-image {
      position: absolute;
      width: 100%;
      height: 80vh;
      object-fit: cover;
      object-position: 50% 20%;
      filter: brightness(70%) saturate(110%) sepia(10%) blur(1px);
    }


  }
}
