.day-tours {
  .tours-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;

    .featured-tours {
      width: 75%;
      z-index: 9;

      .tours-row {
        display: flex;
        justify-content: flex-start;

        .tour-block {
          width: 20%;

          .tour-image {
            width: 100%;
            height: 100px;
            object-fit: cover;
            object-position: 50% 100%;
          }
        }
      }


    }



    .section-title {
      z-index: 9;
      color: white;
    }
    .section-image {
      position: absolute;
      width: 100%;
      height: 80vh;
      object-fit: cover;
      object-position: 50% 20%;
      filter: brightness(70%) saturate(110%) sepia(10%) blur(1px);
    }


  }
}
