.hotels {

  .smooth-scroll {
    h3 {
      @include transition(all, 0.1s, ease-in-out);
    }
    h3:hover {
      color: #f1f1f1;
    }
  }

  .hotels-section {
    width: 100%;

    .hotels-image {
      width: 100%;
    }

    select::-ms-expand {
      display: none;
    }
  }

  .menu {
    height: 120vh;
    z-index: -1;
  }

  .closed {
    margin-top: -120vh;
    z-index: -2;
  }



}
