.hotels {

  .smooth-scroll {
    h3 {
      @include transition(all, 0.1s, ease-in-out);
    }
    h3:hover {
      color: #f1f1f1;
    }
  }

  .hotels-section {
    width: 100%;
    height: 100vh;

    .hotels-image {
      width: 100%;
      position: absolute;
      height: 100vh;
    }

    select::-ms-expand {
      display: none;
    }
  }
}
