.serengeti-page{

  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  width:100%;
  .serengeti-banner{
    width:100%;
    margin:0 auto;
    z-index: 9;
    text-align:center;
    background-image: url(../img/serengeti.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height:55vw;
    @include transition(margin, 0.5s, ease);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom:-50px;
  }
  .serengeti-info{
    width:100%;
    z-index: 8;
    -webkit-backface-visibility: hidden;
  }
}
