$footer-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;

.Footer {
    padding: 0 10px 0 0;
    height: 25vh;
    background-color: $bg-footer-color;
}

h3 {
  font: 100% $footer-font-stack;
}
