$header-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
.Header {
  font: 100% $title-font-stack;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    position: absolute;
    z-index: 9999;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}
