$navbar-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
$navbar-bg-color: #ffffff;
$button-hover-color: #1c1c1c;
$button-border-color: #efdbdb;
$button-text-color: #efdbdb;
$h1-color: #f7f5f5;
/*$h1-color: #7d7277;*/


@import '../helpers/Transform_Mixins.scss';
@import '../helpers/User_Events.scss';

.NavBar {

  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  height: 3.5em;
  display: flex;
  justify-content: space-around;

  h3 {
    font-family: $navbar-font-stack;
    color: $h1-color;
    font-weight: 500;
  }

  .navBarButton {
    background: $navbar-bg-color;
    @include css-transition(all, 0.2s, ease-in-out);
    float: right;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    button-radius: 50%;
    color: $button-text-color;
    margin-left: 1em;
    background: transparent;
    @include css-user-select(none);
    outline: none;
  }

  .navBarButton:hover {
    color: $button-hover-color;
  }

  .navBarButton:hover > p {
    @include css-transition(all, 0.2s, ease-in-out);
    color: $button-hover-color;
  }

}
