$brightness: 95%;
$sepia: 10%;
$hue: 1deg;
$grayscale: 10%;
$contrast: 85%;

.SliderImage {
    position: absolute;
    left: 0;
    top: 0;
    @include css-filter($brightness, $sepia, $hue, $grayscale, $contrast);
    z-index: -1;
}

.SelectedImage {
  z-index: 1;
}
