.banner {
  @include transition(margin, 0.5s, ease);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  z-index: 8;
  align-items: center;

  .banner-title {
    position: absolute;
    margin: 0;
    z-index: 9;
    color: white;
    display: flex;
    @include user-select(none);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 80vh;

    h1 {
      @include transition($hover-prop, $hover-duration, $hover-easing);
      transform: translateY(-10px);
      cursor: pointer;
      a {
        color: white;
      }
    }
    @include transition($hover-prop, $hover-duration, $hover-easing);
  }
  .banner-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 50% 20%;
    filter: brightness(70%) saturate(120%);
  }
}

.banner:hover > .banner-title {
  background: $hover-color;
  h1 {
    transform: translateY(0px);
  }
}

.open ~ .banner .banner-title h1 {
  opacity: 0;
}
