.menu {
  @include transition(all, 0.25s, ease-in-out);
  background: rgba(0, 255, 255, 0);
  justify-content: center;
  align-items: center;
  height: 80vh;
  transform: translate3d(0,-5vw,0);
  z-index: 9;
  width: 100vw;
  -webkit-backface-visibility: hidden;
  position: absolute;
  animation: slidein 1s;
  display: none;
  @media all and(max-width: $mobile-width) {
    position: relative;
    height: auto;
  }
}

.open {
  display: flex;
  transform: translate3d(0,0,0);
  @media all and(max-width: $mobile-width) {
    display: block;
  }
}

.closed {
  transform: translate3d(0,0,0);
  position:absolute;
  z-index: 1;

  .menu:hover {
    position: absolute;
    z-index: 1;
  }
}

@mixin slidein($t) {
-webkit-animation: slidein $t; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: slidein $t; /* Firefox < 16 */
    -ms-animation: slidein $t; /* Internet Explorer */
     -o-animation: slidein $t; /* Opera < 12.1 */
        animation: slidein $t;
}

@keyframes slidein {
  0% {
    transform: translate3d(0,-20px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}


@mixin slideout($t) {
-webkit-animation: slideout $t; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: slideout $t; /* Firefox < 16 */
    -ms-animation: slideout $t; /* Internet Explorer */
     -o-animation: slideout $t; /* Opera < 12.1 */
        animation: slideout $t;
}

@keyframes slideout {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-20px,0);
  }
}
