.menu {
  @include transition(all, 0.25s, ease-in-out);
  background: rgba(0, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  transform: translate3d(0,-5vw,0);
  z-index: 9;
  width: 100vw;
  -webkit-backface-visibility: hidden;
  position: absolute;
}

.open {
  transform: translate3d(0,-5vw,0);
  
}

.closed {
  transform: translate3d(0,0,0);
  opacity: 0;
  display:none;
}
