$slide-duration: 0.5s;
$hover-color: rgba(50, 44, 49, 0.75);
$hover-prop: all;
$hover-duration: 0.25s;
$hover-easing: ease-in-out;

.tours {

  .tours-section {
    display: flex;
    flex-direction: column;

    .tours-banner {
      @include transition(margin, 0.5s, ease);
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 80vh;
      z-index: 9;
      cursor: pointer;
      align-items: center;
    }

    .tours-banner:hover > .section-title {
      background: $hover-color;
      h1 {
        transform: translateY(0px);
      }
      opacity: 1;
    }

    .tours-menu:hover ~ .tours-banner .section-title {
      background: $hover-color;
      transform: translateY(0px);
      opacity: 1;
    }

    .tours-menu {
      @include transition(all, 0.5s, ease-in-out);
      z-index: 99;
      background: $nav-bar-color;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      transform: translate3d(0,0,0);
      margin-top: -80vh;
      z-index: 8;
      -webkit-backface-visibility: hidden;
    }

    .open {
      margin-top: 0vh;
    }

    .closed {
      margin-top: -80vh;
    }

    .featured-tours {
      width: 100%;

      .tours-row {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 20px;

        .tour-block {
          height: 140px;
          /*display: flex;*/

          justify-content: flex-start;

          .tour-title {
            position: absolute;
            height: 140px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition(all, 0.2s, ease);
            opacity: 0;
            @include user-select(none);

            h3 {
              a {
                color: white;
              }
              @include transition(all, 0.2s, ease);
              transform: translateY(-10px);
              color: white;
              font-family: 'Oswald', Helvetica, sans-serif;
              font-size: 1.5em;
            }
          }


          .tour-title:hover > h3 {
            transform: translateY(0px);
          }

          .tour-title:hover {
            background: $hover-color;
            opacity: 1;
            cursor: pointer;
          }

          .tour-image {
            height: 140px;
            width: 250px;
            object-fit: cover;
            object-position: 50% 100%;
            @include user-select(none);

          }
        }
      }
    }
    .section-title {
      position: absolute;
      margin: 0;
      z-index: 9;
      color: white;
      display: flex;
      @include user-select(none);
      justify-content: center;
      align-items: center;
      cursor:pointer;
      width: 100%;
      height:80vh;
      h1 {
        a {
          color: white;
        }
        @include transition($hover-prop, $hover-duration, $hover-easing);
        transform: translateY(-10px);
      }
      opacity: 0;
      @include transition($hover-prop, $hover-duration, $hover-easing);
    }
    .section-image {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      object-position: 50% 20%;
      filter: brightness(70%) saturate(90%) sepia(10%) blur(0px);
    }
  }
}
