.car-rental{
  height:90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  width:100%;

  .car-rental-title {

  }

  .car-rental-blocks {
    display: flex;
  }

  .car-wrapper {
    width: 20%;

    .img {
      width:100%;
    }

    .car-markdown{
      width:100%;
    }
  }


}
