.car-rental{
  height:90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  width:100%;
  margin:0 auto;
  .car-markdown{
    width:20%;
    display:inline-block;
    height:110%;
  }
}

.img{
  width:20%;

}

.img-text-wrap{
  height:50%;
}
