.home {
  .home-header {
    width: 100vw;
    height: 80vh;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 9;

    .nav-item-above-selected {
        transform: rotate3d(1,0,0,0);
    }

    .nav-item-selected {
        transform: rotate3d(1,0,0,90deg);
    }

    .nav-item-above-unselected {
        transform: rotate3d(1,0,0,-90deg);
    }

    .nav-item-unselected {
        transform: rotate3d(1,0,0,0);
    }

    .nav-link > .nav-item-above {
      @include transition(all, 0.5s, ease-in-out);
      transform-origin: center top 8px;
      height: 0vh;
    }

    .nav-link > .nav-item {
      @include transition(all, 0.5s, ease-in-out);
      transform-origin: center bottom 8px;
    }

    li {
      list-style-type: none;
    }

    h1 {
      color: white;
      text-align: center;
    }

    pointer-events: none;
  }
  .home-page-smooth-scroll-container {
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    .smooth-scroll {
      pointer-events: fill;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      padding: 10px;
      outline: none;
      svg {
        transition: all 0.25s ease;
      }
    }
    .smooth-scroll:hover svg {
      transform: translateY(10px);
    }
  }

  .slider-decorator-0 {
    @media all and(max-width: $mobile-width) {
      display: none;
    }
  }

  .slider-decorator-1 {
    @media all and(max-width: $mobile-width) {
      display: none;
    }
  }
}
