@import './helpers/mixins.scss';
@import './helpers/variables.scss';

@import './components/NavBar.scss';
@import './pages/Home.scss';
@import './components/Image.scss';
@import './components/Section.scss';
@import './components/DayTours.scss';

@import './pages/NotFound.scss';
@import './pages/Home.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  p {
    font-family: 'Cambay', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    @include user-select(none);
  }

  h1, h2, h3 {
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 0;
    @include user-select(none);
  }

  h2 {
    font-weight: 900;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 100;
  }
  a{
    text-decoration:none;
  }
}
