$mobile-width: 800px;

@import './helpers/mixins.scss';

@import './helpers/variables.scss';

@import './Home.scss';

@import './layout/layout.scss';
@import './layout/Stack.scss';
@import './layout/Menu.scss';
@import './layout/Banner.scss';
@import './layout/StaticBanner.scss';
@import './layout/PageLayout.scss';

@import './components/BookingButton.scss';
@import './components/MenuButton.scss';
@import './components/NavBar.scss';
@import './components/HotelsDropdown.scss';
@import './pages/Home.scss';
@import './components/Gallery.scss';
@import './components/TextSection.scss';
@import './components/Footer.scss';
@import './components/HorizontalTextSection.scss';
@import './components/Slider.scss';
@import './components/DownArrow.scss';

@import './pages/transportation/CarRental.scss';
@import './pages/transportation/FlightInfo.scss';

@import './pages/NotFound.scss';
@import './pages/Home.scss';
@import './pages/Booking.scss';

@import './pages/History.scss';
@import './pages/Hotels.scss';
@import './pages/DayTours.scss';
@import './pages/PackageTours.scss';
@import './pages/Safaris.scss';
@import './pages/Transportation.scss';

@import './pages/Gallery.scss';
@import './pages/GalleryCategory.scss';
@import './pages/SimplyBooking.scss';


body {
  margin: 0;
  padding: 0;
  background: $nav-bar-color;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;

  p, h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
    cursor: text;
  }

  p {
    font-family: 'Cambay', Helvetica, sans-serif;
  }

  h1 {
    font-family: 'Oswald', Helvetica, sans-serif;
  }

  h2, h3 {
    font-family: 'Raleway', Helvetica, sans-serif;
  }

  h2 {
    font-weight: 900;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 100;
  }
  a{
    text-decoration:none;
  }
}
